<div class="grid-block">
  <div class="grid-content">
    <button class="button" ng-click="addDiscreteBarChart()">Add Column Chart</button>
    <button class="button" ng-click="addMultiBarHorizontalChart()">Add Bar Chart</button>
    <button class="button" ng-click="addPieChart()">Add Pie Chart</button>
    <button class="button" ng-click="addLineChart()">Add Line Chart</button>
    <button class="button" ng-click="addStackedAreaChart()">Add Area Chart</button>
    <button class="button" ng-click="addScatterChart()">Add Scatter Chart</button>
  </div>
</div>
