---
name: dashboard
url: /dashboard
animationIn: slideInLeft
animationOut: slideOutRight
controller: DashboardController as vm
---
<div class="grid-frame vertical">
  <!-- Top Bar -->
  <nav class="primary title-bar">
      <span class="center">
        <span class="show-for-small-only"><a class="title"><img ng-if="::vm.logoLocation" ng-src="{{::vm.logoLocation}}" /><span ng-if="::(!vm.logoLocation)">{{::vm.appName}}</span></a></span>
      </span>
    <ul class="left menu-bar primary condense">
      <li class="show-for-medium">
        <a class="title"><img ng-if="::vm.logoLocation" ng-src="{{::vm.logoLocation}}" /><span ng-if="::(!vm.logoLocation)">{{::vm.appName}}</span></a>
      </li>
    </ul>
  </nav>

  <!-- Tabs -->
  <div class="grid-block shrink">
    <div class="grid-container contain-left">
      <div class="grid-content">
        <div zf-tabs="" id="main-tabs" displaced="true">

          <!-- Data Sets Tab -->
          <div zf-tab="" title="Data Sets">
            <div class="grid-block medium-up-4">
              <!-- Data Set 1 -->
              <div class="grid-block">
                <div class="grid-content">

                  <a zf-popup-toggle="dataSetPopup">
                    <div class="card">
                      <div class="card-section">
                        <h3>Data Set 1</h3>
                        <p><strong>Data Set:</strong> collection1</p>
                        <p><em>1,000 records</em></p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>

              <!-- Data Set 2 Card -->
              <div class="grid-block">
                <div class="grid-content">

                  <div class="card">
                    <div class="card-section">
                      <h3>Data Set 2</h3>
                      <p><strong>Data Set:</strong> collection2</p>
                      <p><em>1,000 records</em></p>
                    </div>
                  </div>

                </div>
              </div>

              <div class="grid-block">
                <div class="grid-content">
                  <div class="card">
                    <div class="card-section">
                      <h3>Data Set 1</h3>
                      <p><strong>Data Set:</strong> collection1</p>
                      <p><em>1,000 records</em></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid-block">
                <div class="grid-content">
                  <div class="card">
                    <div class="card-section">
                      <h3>Data Set 1</h3>
                      <p><strong>Data Set:</strong> collection1</p>
                      <p><em>1,000 records</em></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid-block">
                <div class="grid-content">
                  <div class="card">
                    <div class="card-section">
                      <h3>Data Set 1</h3>
                      <p><strong>Data Set:</strong> collection1</p>
                      <p><em>1,000 records</em></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Projects Tab -->
          <div zf-tab="" title="Projects">
            <div class="grid-block medium-up-4">

              <div class="grid-block">
                <div class="grid-content">
                  <div class="card">
                    <div class="card-section">
                      <h3>Project 1</h3>
                      <p><strong>Created By:</strong> user1</p>
                      <p><em>Last Updated: 5/25/2016 12:00:00 PM (UTC)</em></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid-block">
                <div class="grid-content">
                  <div class="card">
                    <div class="card-section">
                      <h3>Project 1</h3>
                      <p><strong>Created By:</strong> user1</p>
                      <p><em>Last Updated: 5/25/2016 12:00:00 PM (UTC)</em></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Analyze Tab -->
          <!--
          <div zf-tab="" title="Analyze">
            <a ui-sref="analyze">Analyze</a>
          </div>
          -->

          <!-- TODO -->
          <a class="button" ui-sref="explore">Explore</a>
          <a class="button" ui-sref="analyze">Analyze</a>

          <!-- <a class="button" ng-click="vm.testClick()">Click</a> -->
          <a href="#" class="button" zf-open="addDataSetModal">+ Add Data Set</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Tabs Content -->
  <div class="grid-block">
    <div class="grid-content">
      <div zf-tab-content="" target="main-tabs"></div>
      <!-- <a class="button" ng-click="vm.testClick()">Click</a> -->
    </div>
  </div>

  <!-- Data Set Popup Content -->
  <zf-popup id="dataSetPopup">
    <div class="grid-block">
      <div class="grid-block">
        <div class="grid-content">
          <h3>Data Set 1</h3>
          <p>Details about the Data Set...</p>
        </div>
      </div>
      <div class="grid-block">
        <div class="grid-content">
          <h4>Actions</h4>
          <a ui-sref="explore({ id: 1 })" class="button">Explore</a>
          <a href="#" class="button">Add to project</a>
          <a href="#" class="button alert">Delete</a>
        </div>
      </div>
    </div>
  </zf-popup>

  <!-- Add Data Set Modal -->
  <div zf-modal="" id="addDataSetModal">
    <p><a zf-close="" class="close-button">x</a></p>
    <form>
      <div class="grid-block vertical">
        <div class="grid-content">
          <label>
            Data Set Display Name:
            <input type="text" placeholder="Pretty name">
          </label>
        </div>
        <div class="grid-content">
          <label>Data Set Type:</label>
          <select name="" id="dataSourceTypes">
            <option value="fusion">Fusion</option>
            <option value="solr">Solr</option>
            <option value="spark">Spark</option>
          </select>
        </div>
        <div class="grid-content">
          <label>Fusion URL:
            <input type="text" placeholder="http://localhost:8764" value="http://localhost:8764">
          </label>
        </div>
        <div class="grid-content">
          <label>Collection:</label>
          <select name="" id="fusionCollections">
            <option value="collection1">collection1</option>
            <option value="collection2">collection2</option>
          </select>
        </div>
        <div class="grid-content">
          <label>Query Pipeline</label>
          <select name="" id="queryPipelines">
            <option value="default">default</option>
            <option value="collection1-default">collection1-default</option>
            <option value="collection2-default">collection2-default</option>
          </select>
        </div>
        <div class="grid-content">
          <a href="#" class="button success" zf-close="">Add</a>
          <a href="#" class="button alert" zf-close="">Cancel</a>
        </div>
      </div>
    </form>
  </div>

</div>
