---
name: demo
url: /demo
animationIn: slideInLeft
animationOut: slideOutRight
controller: DashboardDemoController as vm
---

<div class="grid-frame vertical shrink">

  <!-- Top Bar -->
  <nav class="primary title-bar">
    <span class="center">
      <span class="show-for-small-only"><a class="title" ui-sref="dashboard"><img ng-if="::vm.logoLocation" ng-src="{{::vm.logoLocation}}" /><span ng-if="::(!vm.logoLocation)">{{::vm.appName}}</span></a></span>
    </span>
    <ul class="left menu-bar primary condense">
      <li class="show-for-medium">
        <a class="title" ui-sref="dashboard"><img ng-if="::vm.logoLocation" ng-src="{{::vm.logoLocation}}" /><span ng-if="::(!vm.logoLocation)">{{::vm.appName}}</span></a>
      </li>
    </ul>
  </nav>

  <!-- Gridster and NVD3 stuffs -->
  <div class="grid-block">
    <div class="grid-content">
      <div gridster="vm.gridsterOptions">
        <ul class="with-3d-shadow with-transitions">
          <li gridster-item="widget" ng-repeat="widget in vm.widgets">
            <div class="box">
              <div class="box-header">
                <h3>{{ widget.name }}</h3>
              </div>
              <div class="box-content">
                <nvd3 options="widget.chart.options"
                      data="widget.chart.data"
                      api="widget.chart.api"
                      config="vm.config"
                      events="vm.events"></nvd3>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
