---
name: explore
url: /explore?id
animationIn: slideInLeft
animationOut: slideOutRight
controller: DashboardExploreController as vm
---
<div class="grid-frame vertical">

  <!-- Top Bar -->
  <nav class="primary title-bar">
      <span class="center">
        <span class="show-for-small-only"><a class="title" ui-sref="dashboard"><img ng-if="::vm.logoLocation" ng-src="{{::vm.logoLocation}}" /><span ng-if="::(!vm.logoLocation)">{{::vm.appName}}</span></a></span>
      </span>
    <ul class="left menu-bar primary condense">
      <li class="show-for-medium">
        <a class="title" ui-sref="dashboard"><img ng-if="::vm.logoLocation" ng-src="{{::vm.logoLocation}}" /><span ng-if="::(!vm.logoLocation)">{{::vm.appName}}</span></a>
      </li>
    </ul>
  </nav>

  <!-- Data Set drop-down selection -->
  <div class="grid-block shrink">
    <div class="grid-content">
      <label>Data Set</label>
      <select ng-model="vm.dataSet"
              ng-options="d.id for d in vm.dataSets"
              ng-change="vm.getSchema()">
      </select>
    </div>
  </div>

  <!-- Metadata about the selected data set -->
  <div class="grid-block shrink" ng-show="vm.dataSet.id">
    <div class="grid-content">
      <h5>{{ vm.dataSet.totalRecords }}</h5>
      <h5>Records</h5>
    </div>
    <div class="grid-content">
      <h5>{{ vm.dataSet.filteredRecords }}</h5>
      <h5>Filterd Records</h5>
    </div>
    <div class="grid-content">
      <h5>{{ vm.dataSet.totalFields }}</h5>
      <h5>Fields</h5>
    </div>
  </div>

  <!--
    loop through each field in the schema, and visualize them.
  -->
  <div class="grid-block medium-up-3 shrink">
    <div class="grid-block" ng-repeat="field in vm.schema.fields">
      <div class="grid-content">
        <field-visualizer
          field-name="field.name"
          field-type="field.type"
          field-data="vm.getFieldSummaryData(field.name)">
        </field-visualizer>
        <h5>Field Name</h5>
      </div>
    </div>

  </div>

  <!-- Gridster -->
  <div gridster="vm.gridsterOpts">
    <ul>
      <li gridster-item="item" ng-repeat="item in vm.fieldItems">
        <div class="grid-block">
          <h4>Hello</h4>
        </div>
      </li>
    </ul>
  </div>


</div>

