<div class="grid-block">
  <!-- Fields panel -->
  <div class="medium-4 grid-content">
    <h5>Fields</h5>
    <table class="table-panel table-fieldlist">
      <thead>
        <tr>
          <th></th>
          <th>Field</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="checkbox"></td>
          <td>userid_i</td>
          <td>int</td>
          <td>user id</td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td>age_i</td>
          <td>int</td>
          <td>age of user</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Table panel -->
  <div class="medium-8 grid-content">
    <h5>Results 1 - 30 of 100,000</h5>
    <table class="table-panel table-result">

      <thead>
        <tr>
          <th ng-repeat="header in headers">{{ header }}</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="row in rows">
          <td ng-repeat="col in row">{{ col }}</td>
        </tr>
      </tbody>

    </table>
  </div>
</div>

<div class="grid-block">
  <div class="grid-content">
    <p>DashResultService should provide these:</p>
    <p>scope.headers = {{ headers }}</p>
    <p>scope.rows = {{ rows }}</p>
  </div>
</div>
