<div class="grid-block">

  <div class="medium-4 grid-content">
    <h5>Fields</h5>
    <table class="tablePanel table-fieldlist">
      <thead>
        <th></th>
        <th>Field</th>
        <th>Type</th>
        <th>Description</th>
      </thead>
      <tbody>
        <tr>
          <td><input type="checkbox"></td>
          <td>userid_i</td>
          <td>int</td>
          <td>user id</td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td>age_i</td>
          <td>int</td>
          <td>age of user</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="medium-8 grid-content">
    <h5>Results 1 - 30 of 100,000</h5>
    <table class="tablePanel table-result">
      <thead>
        <th>userid_i</th>
        <th>age_i</th>
        <th>gender_s</th>
      </thead>
      <tbody>
        <tr>
          <td>123</td>
          <td>25</td>
          <td>M</td>
        </tr>
        <tr>
          <td>456</td>
          <td>34</td>
          <td>F</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
