<form class="analyzeBar" name="analyzeForm">
  <div class="grid-block">

    <div class="medium-3 grid-content">
      <label>Dataset</label>
      <select name="" id="">
        <option value="">collection1</option>
        <option value="">movielens</option>
        <option value="">citibike</option>
      </select>
    </div>

    <div class="medium-6 grid-content">
      <label>
        Query
        <textarea rows="3" placeholder="Type SQL or Solr query"></textarea>
      </label>
    </div>

    <div class="medium-2 grid-content">
      <label>
        Sample (of 1,000,000)
        <input type="text">
      </label>
    </div>

    <div class="medium-1 grid-content">
      <a href="#" class="button">Run</a>
    </div>
  </div>
</form>
