<form class="analyzeBar" name="analyzeForm">
  <div class="grid-block">
    <!-- Dataset drop-down -->
    <div class="medium-3 grid-content">
      <label>Dataset</label>
      <select ng-model="query.dataset"
              ng-options="d.id for d in datasets">
      </select>
    </div>
    <!-- Query bar -->
    <div class="medium-6 grid-content">
      <label>
        Query
        <textarea rows="3" ng-model="query.query" placeholder="Type SQL or keywords to search"></textarea>
      </label>
    </div>
    <!-- Sample input -->
    <div class="medium-2 grid-content">
      <label>
        Sample % (of 1,000,000)
        <input type="text" ng-model="query.sample" placeholder="Enter the percent number of sample to use for the query. 100 means using all the data.">
      </label>
    </div>
    <!-- Run button -->
    <div class="medium-1 grid-content">
      <button class="button" ng-click="submitQuery()">Run</button>
    </div>
  </div>
</form>
